.Highlight {
  cursor: pointer;
  position: absolute;
}

.Highlight__emoji {
  position: absolute;
  color: black;
  opacity: 1;
  font-size: 28px;
}

.Highlight__parts {
  cursor: pointer;
  opacity: 1;
}

.Highlight__low__active {
  cursor: pointer;
  position: absolute;
  background: #008791;
  transition: background 0.3s;
}

.Highlight__low {
  cursor: pointer;
  position: absolute;
  background: #00e2f0;
  transition: background 0.3s;
}

/* .Highlight__low:hover {
  cursor: pointer;
  background: #008791;
} */

.Highlight__mid__active {
  cursor: pointer;
  position: absolute;
  background: #9a8921;
  transition: background 0.3s;
}

.Highlight__mid {
  cursor: pointer;
  position: absolute;
  background: #ffe53d;
  transition: background 0.3s;
}

/* .Highlight__mid:hover {
  cursor: pointer;
  background: #9a8921;
} */

.Highlight__high__active {
  cursor: pointer;
  position: absolute;
  background: #924d4d;
  transition: background 0.3s;
}

.Highlight__high {
  cursor: pointer;
  position: absolute;
  background: #ff8888;
  transition: background 0.3s;
}

/* .Highlight__high:hover {
  cursor: pointer;
  background: #924d4d;
} */

.Highlight__unsure__active {
  cursor: pointer;
  position: absolute;
  background: #737373;
  transition: background 0.3s;
}

.Highlight__unsure {
  cursor: pointer;
  position: absolute;
  background: #bdbdbd;
  transition: background 0.3s;
}

/* .Highlight__unsure:hover {
  cursor: pointer;
  background: #737373;
} */

.Highlight__unreviewed__active {
  cursor: pointer;
  position: absolute;
  background: #737373;
  transition: background 0.3s;
}

.Highlight__unreviewed {
  cursor: pointer;
  position: absolute;
  background: #bdbdbd;
  transition: background 0.3s;
}

/* .Highlight__unreviewed:hover {
  cursor: pointer;
  background: #737373;
} */

.Highlight__popup {
  cursor: pointer;
  background-color: #3d464d;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  max-width: 300px;
  max-height: 100px;
  overflow-y: scroll;
}

.Highlight--scrolledTo .Highlight__part {
  background: #ff4141;
}
