.Highlight {
  position: absolute;
}

.Highlight__emoji {
  position: absolute;
  color: black;
  opacity: 1;
  font-size: 28px;
}

.Highlight__parts {
  opacity: 1;
}

.Highlight__low {
  cursor: pointer;
  position: absolute;
  background: #00e2f0;
  /* transition: background 0.5s; */
}

.Highlight__mid {
  cursor: pointer;
  position: absolute;
  background: #edf222;
  /* transition: background 0.5s; */
}

.Highlight__high {
  cursor: pointer;
  position: absolute;
  background: #ff8888;
  /* transition: background 0.5s; */
}

.Highlight__popup {
  background-color: #3d464d;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  max-width: 300px;
  max-height: 100px;
  overflow-y: scroll;
}

.Highlight--scrolledTo .Highlight__part {
  background: #ff4141;
}
